*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b9bda5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    background-color: #e6dada;
    padding: 30px;
    margin-top: 10rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px #333;
    box-shadow: 3px 3px 3px -3px black,inset -2px -2px 5px -2px black;

}

.title-box {

}

.title {
}

.input-wrapper {
    width: 95%;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eff8ba;
    box-shadow: 3px 3px 4px -5px black, -2px -2px 4px -2px black;
}

.buttons-container {
    width: 95%;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #eff8ba;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px -5px black,inset -2px -2px 5px -2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.2s ease;
}

.selected {
    background-color: #c08e22;
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.result-btn {
    border: none;
    width: 95%;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c08e22;
    cursor: pointer;
    box-shadow: 3px 3px 3px -5px black,inset -2px -2px 5px -2px black;
    transition: all 0.5s ease;
}

.result-btn:hover {
    background-color: #ad7c12;
}

.result {
    width: 95%;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eff8ba;
    box-shadow: 3px 3px 4px -5px black, -2px -2px 4px -2px black;

}





@media screen and (max-width : 768px) {
    .tool {
        cursor: default;
    }
}